<head>
    {% extends 'base.html' %} 
    {% load static %} 
    {% block title %} About {% endblock %}
  </head>
  
  {% block content %}
  
  <!-- Showcase -->
  <div id="showcase">
    <div class="about-img">
      <div class="showcase-content">
        <h1> <span class="text-primary">More </span>About Us</h1>
        <p style="font-size: smaller;"><br></p>
        <p class="lead">My story begins my senior year of high school when I discovered my passion for creating unique 
          and inviting scents. What started as a simple hobby—experimenting with essential oils and natural ingredients—quickly 
          turned into an obsession. I found joy in blending fragrances that evoked memories, emotions, and comfort.
        </p>
        <p class="lead">
          With encouragement from friends and family, I decided to turn my passion into something bigger. Scents by Scott 
          was born out of a desire to share high-quality, homemade scents with others. Every fragrance
           is handcrafted with care, using only the finest ingredients to ensure a luxurious and long-lasting experience.
        </p>
        <p class="lead">
          I aim for my small kitchen project brand to bring warmth, relaxation and aura for my clients. 
          Thank you for being part of this journey—I can't wait for you to experience the magic of 
          Scents by Scott!</p>
      </div>
    </div>  
  </div>

  
  <!-- Optional: about-info section -->
  <!-- 
  <section id="about-info" class="bg-dark">
    <div class="info-content">
      <h2><span class="text-primary">Quality </span>Product</h2>
      <p id="about-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>
    </div>
  </section>
  -->
  
  {% endblock %}
  